.conteudo,
.botao,
.result {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}

.border > h1 {
  text-align: center;
  font-size: 39px;
  position: absolute; 
  top: 0px; 
  margin-top: 20px;
  left: 50%; 
  transform: translateX(-50%); 
  width: 336px;
  height: 46px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #D8DBFF;
  height: 100vh; 
}

#valorA,
#valorB,
#valorC {
  padding-right: 8px;
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;

  border: none;
  border-bottom: 2px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: transparent;

}

#valorA:focus,
#valorB:focus,
#valorC:focus {
  outline: none;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
 -webkit-appearance: none;
}

.border {
 position: relative; 
 margin-left: auto; 
 margin-right: auto; 
 margin-top: 171px; 
 width:608px; 
 min-height:440px; 
 border-radius :10px; 
 display:flex; 
 flex-direction :column; 
 align-items :center; 
 justify-content :center; 
 background-color :rgba(135,135,254,0.81);
}

.content-container {
 display:flex; 
 align-items :center; 
 justify-content :center; 
 flex-wrap :wrap; 
 margin-bottom :10px
}

.botao {
 position:absolute; 
 bottom :55px; 
 left :50%; 
 transform :translateX(-50%); 
 display:flex; 
 justify-content :space-between; 
 margin-top :20px
}

.conteudo {
 display:flex; 
 align-items :center; 
 justify-content :center
}

.operation {
 margin :0px8px20px; 
 font-size :20px
}

.result {
 display:flex; 
 justify-content :center; 
 text-align :center
}

header {
 display:flex; 
 justify-content :center; 
 margin-top :0px
}

.logotipo {
 font-family :"Bebas Neue",sans-serif ; 
 font-size :48px ; 
 margin-top :47px ; 
 color:#D8DBFF
}

.calcular-button {
 margin-right :9.5px ; 
 margin-bottom :55px
}

.limpar-button {
 margin-left :9.5px ; 
 margin-bottom :55px
}
